@font-face {
    font-family: 'Proximaregular';
    src: 
    url('../fonts/Nova/proximanova_regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
    font-display: wrap;
}
@font-face {
    font-family: 'Proximalight';
    src: 
    url('../fonts/Nova/proximanova_light.otf') format('otf');
    font-weight: normal;
    font-style: normal;
    font-display: wrap;
}
@font-face {
    font-family: 'Proximabold';
    src: 
    url('../fonts/Nova/proximanova_bold.otf') format('otf');
    font-weight: normal;
    font-style: normal;
    font-display: wrap;
}
@font-face {
    font-family: 'ElMessiri';
    src: 
    url('../fonts/ElMessiri/ElMessiri-SemiBold.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
    font-display: wrap;
}

