*,*:before, *:after
    box-sizing: border-box
    margin: 0
html
    font-family: 'Proximaregular'
    font-size: 14px
    color: $white
    background-color: $dark
h1,h2,h3
    margin: 0
a
    color: $white
    text-decoration: none
    cursor: pointer
    transition-duration: 500ms
    &:hover
        color: $blue
.container
    max-width: 92.7143rem
    width: 100%
    margin: auto
.block 
    display: flex
    justify-content: center
.title
    position: relative
    font-family: 'El Messiri', sans-serif
    font-size: 3rem
    max-width: 34.2857rem
    margin: auto
    padding-bottom: 7.1429rem
    display: flex
    align-items: center
    align-content: center
    justify-content: center 
    &::before
        content: ''
        position: absolute
        width: 2rem
        top: 1.5rem
        height: 1rem
        left: 0
        background: url('../img/list-blue-l.png') no-repeat center
    &::after
        content: ''
        position: absolute
        width: 2rem
        top: 1.5rem
        height: 1rem
        right: 0
        background: url('../img/list-blue-r.png') no-repeat center
.mini
    &-title
        font-family: 'Proximabold'
        font-size: 1.4286rem
        line-height: 140%
.desc
    font-family: 'Proximalight'
    font-weight: 300
    line-height: 140%
    margin-top: 1.4286rem
    margin-bottom: 1.4286rem
.button
    font-family: "Proximalight" 
    font-size: 0.9286rem
    border-radius: 0.2143rem
    border: 0
    padding: 0.6429rem 1.0714rem 0.6429rem 1.0714rem
    cursor: pointer
    &--primary
        color: $white
        background: $blue
    &--secondary   
        color: $blue
        background: $white

