*,*:before, *:after
    box-sizing: border-box
    margin: 0
html
    font-family: 'Proximaregular'
    font-size: 14px
    color: $white
    background-color: $dark
h1,h2,h3
    margin: 0
.container
    max-width: 81.125rem
    width: 100%
    margin: auto
a
    color: $white
    text-decoration: none

