.header
    padding-top: 27px
    &-menu
        display: flex
        align-items: center
        justify-content: space-between
        &__logo
            height: 60px
            width: 60px
            font-size: 2rem
            text-decoration: none
            align-items: center
            background: url('../img/logo.png') no-repeat center 
        &__nav
            &__item
                text-decoration: none