.hero
    margin-top: 53px
    &-promo
        font-family: 'ElMessiri'
        background: linear-gradient(0deg, rgba(152, 201, 220, 0.5), rgba(152, 201, 220, 0.5)), url(../img/hero.png)
        width: 1296px
        height: 600px
        border-radius: 10px
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
    &-title
        font-size: 64px
        width: 587px
        text-align: center
        line-height: 140%
        margin-bottom: 90px
    &-sub
        font-size: 24px
        margin-bottom: 30px
            
            
        
        
    
