.map
    &-container
        justify-content: space-between
    margin-bottom: 150px
    &-box
        &__card
            border-radius: 10px
    &-title
        font-family: 'El Messiri', sans-serif
        font-size: 24px
        padding-top: 35px
        padding-left: 35px
    &-button
        margin-top: 30px
        margin-left: 35px
        &:hover
            color: $white
            background: $blue
            border: 1px solid $white
    &-address
        &__info
            width: 392px
            height: 290px
            background: $blue
            border-radius: 10px 
    &__text
        padding-top: 23px
        padding-left: 75px
.address
    &-1
        margin-bottom: 30px
.marker
    background: url(../img/marker.png) no-repeat 35px 18px
.metro
    background: url(../img/metro.png) no-repeat 33px 18px
.record
    background: url(../img/record.png) no-repeat 34px 18px